body{
    background-color: black;
    color:white;
    font: 11px sans-serif;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:80%
}
@media @media only screen and (max-width: 600px){
    body{
        width:100%;
    }
}
a{
    color:yellow;
}
#title{
    /* display:inline-block; */
    /* width:auto; */
    padding-bottom:20px;
    text-align: center;
}
#param-holder{
    width:100%;
    position:relative;
    display:inline-block;
    padding:0 0 40px 40px ;
}
.popup-button, .popup-close{
    /* position:absolute; */
    right:0;
    border:1px solid white;
    padding:5px;
    cursor:pointer;
    float:right;
}
.popup-button{
    font-size:2em;
    margin-right:50px;
    margin-top:10px;
}
.popup-close{
    margin-right:10px;
    margin-top:10px;
    font-size:1.33em;
}
.popup{
    position:absolute;
    width:auto;
    /* max-height:0; */
    overflow: hidden;
    background-color: #333;
    /* opacity:75%; */
    z-index:100;
    font-size:1.5em;
    line-height:1.5em;
    padding:0 0 0 50px;
    overflow:auto;
}
#about{
    height:0;
}
#lang{
    right:0;
    max-height:0;
    overflow:hidden;
    padding:0 10px;
}
#lang p{
    cursor:pointer
}
#about p, #about ul{
    margin-right:50px;
}
#graph-holder{
    display:inline-block;
    width:100%;
}
.param-outer{
    width:auto;
    display:inline-block;
    padding-right:40px;
}
.param-title{
    width:auto;
    display:inline-block;
    padding-right:30px;
    /* vertical-align: top; */
    text-align:center;
}
.param-title h2{
    margin:0;
    line-height:1.5em;
}
.param-slider-outer{
    width:200px;
    display:inline-block;
    margin-top:3em;
}
.param-slider{
    background-color:rgba(200,150,0,1);
}
.noUi-base, .noUi-handle, .noUi-value{
cursor:pointer;
}
.noUi-pips-horizontal{
    padding-top:5px;
}
.noUi-horizontal .noUi-tooltip{
    font-size:1.5em;
    background:none;
    color:white;
    border:none;
}
.noUi-horizontal .noUi-tooltip::after{
    content:'';
    position: absolute;
    left: 50%;
    margin-left:-10px;
    bottom: -3px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    clear: both;
}
.noUi-value-large{
    font-size:1.5em;
    color:white;
}
.noUi-marker-horizontal.noUi-marker-large{
    height:8px;
    background-color:white;
}
.axis text{
    fill:white;
    font-size:2em;
}
.axis path{
    stroke:white;
}
.axis .tick line{
    stroke:white;
    opacity:0.2;
}
.line{
    stroke-width:2;
}
.line.data{
    stroke:rgba(0,150,200,1)
}
.line.sim{
    stroke:rgba(200,150,0,1)
}
.leg-text{
    dominant-baseline:middle;
    font-size:20px;
}
.leg-text.data{
    fill:rgba(0,150,200,1);
}
.leg-text.sim{
    fill:rgba(200,150,0,1);
}

